<h4>Edit Review</h4>
<%= form_for @review, url: park_review_path(@park, @review) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :review %>
    <%= f.text_area :review %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
